$swimgur-pri: #00aeef;
$swimgur-sec: #9bc43a;
$container-w: 800px;
$container-h: 600px;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Titillium Web, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

[data-tooltip] {
  color: #000;
  text-decoration: none;

  &.tt-l:after {
    right: 0;
  }

  &.tt-r:after {
    left: 0;
  }

  &:after {
    position: absolute;
    bottom: 0;
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    white-space: pre;
    padding: 5px;
    background: #000;
    color: #fff;
    font-size: 1rem;
    font-family: Titillium Web, Helvetica, Arial, sans-serif;
    pointer-events: none;
    transition: all 250ms ease 0s;
  }

  &:hover:after, &:focus:after {
    visibility: visible;
    opacity: 1;
    bottom: 100%;

  }
}


.swimgur {
  &-page-wrap {
    height: 100%;
    background-color: $swimgur-pri;
  }

  &-container {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: $container-w;
    height: $container-h;
    margin: 0 auto;
  }

  &-title {
    position: relative;
    z-index: 500;
    text-indent: -9999px;
    background: url(/img/swimgur.svg) no-repeat 0 15px;
    background-size: 100%;
    width: 80%;
    height: 35%;
    margin: 0 auto;
  }

  &-anim {
    position: absolute;
    top: $container-h/6;
    left: 0;
    z-index: 0;
  }

  &-info {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    left: 8px;
  }

  &-about {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 8px;
  }
}

@media screen and (max-width: $container-w) {
  .swimgur-container {
    width: 100%;
  }

  .swimgur-anim {
    width: 100%;
  }
}

@media screen and (max-height: $container-h) {
  .swimgur-container {
    height: 100%
  }

  .swimgur-title {
    margin-top: 10%;
}
}